#exampleInputFile {
	display:none;
}





body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
}

.short {
	height: 15vh;
}

#short-left {
	background: #424b5f;
	padding-right: 0px;
	
	display: flex;
    align-items: center;
    justify-content: center;
    
}

#short-right {
	background: #4f5a6e;
	display: flex;
	justify-content: flex-end;	
	
    padding-left: 0px;
}

.tall {
	height: 85vh;
}

#tall-left {
	background: #eef1f4;
	padding: 10px;
	display: flex;
    align-items: center;
}

#tall-right {
	background: white;	
	padding: 10px;
	
}

#api {	
	width: 15vh;	
	margin-right: -15px;
	background: #4f5a6e;
	border-left: 2px solid #424b5f;
	text-align: center;
	display: flex;
	justify-content: center;

}

#api-btn {
	
}

.tag {
	padding: 10px;
	margin: 10px;
	display: inline-block;
	border-radius: .25rem;
	font-size: 1rem;
	color: grey;
	background: #eef1f4;	
	
}

#img-container img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: .25rem;
}

#img-container {
	padding: 10px;
}

#srl {
	display: flex;
	justify-content: center;
	margin: auto;
}

#myinput {
	padding: 10px;
	height: 38px;
}

#mybutton {
	padding: 10px;

}

#api div {
	margin: auto;
}

#sl {
	display: flex;
	justify-content: center;
	margin: auto;
}

#nenado {
	display: none;
}

#sl div label {
	margin-bottom: 0px;
}

#exampleInputEmail1::-webkit-input-placeholder {
	background-color: #424b5f;
}

.form-control { 
	background-color: #424b5f;
	border: 1px solid #424b5f;
	color: #a7b3cb;
}

